.list {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 15px 0;
  padding: 0;
}
.button {
  width: 90px;
  border: 1px solid rgb(22, 22, 60);
  background-color: rgb(125, 125, 179);
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
